[Desktop Entry]
Name=WezTerm
Comment=The GPU-accelerated terminal emulator
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm
Terminal=false
Type=Application
Icon=/home/trinhquyetchien/Dotfiles/wezterm/terminal.png
Categories=System;TerminalEmulator;
